build*
!build_vs.bat
!buildlibretro32.bat
!buildlibretro64.bat
libretro-build/
nobackup
testc/WIN3.1/BOOT/STARTUP.EXE
testc/WIN3.1/FPU/STARTUP.EXE
testc/WIN95/BOOT/STARTUP.EXE
testc/WIN95/FPU/STARTUP.EXE
run_qod.bat
